<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <!-- Update this with your SQL Server 2018 connection string -->
    <add name="CaseManagementContext" connectionString="Server=.\SQLEXPRESS;Database=CAOCaseManagement;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Twilio SMS Configuration -->
    <add key="Twilio:AccountSid" value="your_account_sid_here" />
    <add key="Twilio:AuthToken" value="your_auth_token_here" />
    <add key="Twilio:PhoneNumber" value="+1234567890" />
    
    <!-- Application Settings -->
    <add key="App:Name" value="CAO Case Management System" />
    <add key="App:Version" value="1.0.0" />
    <add key="App:ComplianceStandard" value="GIGW" />
    
    <!-- Notification Settings -->
    <add key="Notification:EnableSMS" value="true" />
    <add key="Notification:EnableWhatsApp" value="false" />
    <add key="Notification:OverdueReminderHours" value="24" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
  </system.webServer>
</configuration>
